@keyframes fadeVisibility {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scaleVisibility {
  0% {
    transform: translate(-50%, -50%) scale(0.8); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes translateY {
  0% {
    bottom: -5rem;
    opacity: 0; }
  90% {
    bottom: 0;
    opacity: .5; }
  100% {
    bottom: 2rem;
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  caret-color: transparent;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 300; }

a,
a:visited {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s; }

ul {
  list-style: none; }

li {
  position: relative; }

i {
  display: inline-block; }

::selection {
  background-color: #ffc0cb;
  color: #faf8f8; }

.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Poppins", sans-serif; }

.heading-1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1; }

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase; }

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1; }

.large-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.medium-title {
  font-size: 1.4rem;
  text-transform: uppercase; }

.small-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal; }

.large-subtitle {
  font-size: 1.8rem; }

.medium-subtitle {
  font-size: 1.5rem; }

.small-subtitle {
  font-size: 1.2rem;
  font-weight: 400; }

.xsm-subtitle {
  font-size: 1rem;
  font-weight: 400; }

.mb-xsm {
  margin-bottom: 0.5rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 5rem; }

.mb-xl {
  margin-bottom: 10rem; }

.mt-xsm {
  margin-top: 1rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 5rem; }

.mt-xl {
  margin-top: 8rem; }

.my-xsm {
  margin: 0.75rem 0; }

.my-sm {
  margin: 2rem 0; }

.my-md {
  margin: 3rem 0; }

.my-lg {
  margin: 5rem 0; }

.my-xl {
  margin: 8rem 0; }

.mx-xsm {
  margin: 0 0.75rem; }

.mx-sm {
  margin: 0 2rem; }

.mx-md {
  margin: 0 3rem; }

.mx-lg {
  margin: 0 5rem; }

.mx-xl {
  margin: 0 8rem; }

.py-xsm {
  padding: 1rem 0; }

.py-sm {
  padding: 2rem 0; }

.py-md {
  padding: 3rem 0; }

.py-lg {
  padding: 5rem 0; }

.py-xl {
  padding: 8rem 0; }

.px-xsm {
  padding: 0 1rem; }

.px-sm {
  padding: 0 2rem; }

.px-md {
  padding: 0 3rem; }

.px-lg {
  padding: 0 5rem; }

.px-xl {
  padding: 0 8rem; }

.p-xsm {
  padding: 1rem; }

.p-sm {
  padding: 2rem; }

.p-md {
  padding: 3rem; }

.p-lg {
  padding: 5rem; }

.p-xl {
  padding: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s; }

.btn--full-width {
  width: 100%; }

.btn--rounded {
  border-radius: 0.4rem; }

.btn--black {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500; }

.btn--red {
  background-color: #e34848;
  color: #fff;
  font-size: 1.2rem; }
  .btn--red:hover {
    background-color: #000; }

.btn--gray {
  background-color: #a5a5a5;
  color: #fff;
  font-size: 1.2rem; }

.carousel__btn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  border: none;
  padding: 0 0.5rem;
  transition: opacity 0.4s;
  cursor: pointer;
  opacity: 0; }
  @media screen and (max-width: 1000px) {
    .carousel__btn {
      opacity: 1; } }

.carousel__nav-icon {
  color: #000;
  padding: 1rem;
  line-height: 1;
  font-size: 2rem; }

.carousel {
  grid-column: full-start / full-end;
  height: 70rem;
  width: 100%;
  position: relative; }
  @media screen and (max-width: 1000px) {
    .carousel {
      height: 55rem; } }
  @media screen and (max-width: 770px) {
    .carousel {
      height: 35rem; } }
  .carousel__item {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    transform: all 2s; }
    .carousel__item--hidden {
      display: none; }
    .carousel__item--image-1 {
      background: url("../img/hero-banner-1.jpg") no-repeat center top;
      background-size: cover;
      animation: fadeVisibility 2s; }
      @media screen and (max-width: 770px) {
        .carousel__item--image-1 {
          background: url("../img/hero-banner-1-mobile.webp") no-repeat center top; } }
    .carousel__item--image-2 {
      background: url("../img/hero-banner-2.jpg") no-repeat center top;
      background-size: cover;
      animation: fadeVisibility 2s; }
      @media screen and (max-width: 770px) {
        .carousel__item--image-2 {
          background: url("../img/hero-banner-2-mobile.webp") no-repeat center top; } }
    .carousel__item__text-wrapper {
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 57rem;
      min-width: 30rem;
      animation: scaleVisibility 1s; }
    .carousel__item__text-wrapper--1 {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 770px) {
        .carousel__item__text-wrapper--1 {
          left: 50%;
          width: 90vw; } }
    .carousel__item__text-wrapper--2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 770px) {
        .carousel__item__text-wrapper--2 {
          left: 50%;
          width: 90vw; } }
  .carousel__item--visible {
    display: block;
    animation: fadeVisibility 2s; }
  .carousel__buttons {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .carousel:hover .carousel__buttons .carousel__btn {
    opacity: 1; }
  .carousel__dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 15px; }
  .carousel__dot {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    display: inline-block;
    transition: all 0.4s; }

.carousel__dot--active {
  color: rgba(206, 205, 205, 0.4); }

.shop-now-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 60%;
  transform: translate(-50%);
  z-index: 10;
  padding: 2rem;
  background-color: #fff; }
  @media screen and (max-width: 770px) {
    .shop-now-window {
      width: 90%; } }

.two-column-grid {
  grid-column: center-start / center-end;
  max-height: 38rem;
  display: grid;
  grid-template: repeat(2, minmax(10rem, 1fr))/repeat(6, minmax(10rem, 1fr));
  gap: 2rem; }
  @media screen and (max-width: 770px) {
    .two-column-grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      max-height: 60rem; } }
  .two-column-grid__image {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    transition: all 0.8s; }
    .two-column-grid__image:hover {
      transform: scale(1.1); }
  .two-column-grid__item {
    position: relative; }
    .two-column-grid__item--item-1 {
      grid-area: 1 / 1 / 3 / 4;
      overflow: hidden; }
      @media screen and (max-width: 770px) {
        .two-column-grid__item--item-1 {
          grid-area: 1 / 1 / 2 / 7; } }
    .two-column-grid__item--item-2 {
      grid-area: 1 / 4 / 3 / 7;
      overflow: hidden; }
      @media screen and (max-width: 770px) {
        .two-column-grid__item--item-2 {
          grid-area: 2 / 1 / 3 / 7; } }

.company-logos__container {
  max-width: 100vw;
  margin: auto;
  margin-bottom: 3rem; }
  @media screen and (min-width: 1200px) {
    .company-logos__container {
      width: 112rem; } }

.company-logos__sub-container {
  width: 100%;
  margin: auto;
  position: relative; }
  .company-logos__sub-container .carousel__btn {
    background-color: #fff;
    opacity: 1; }
  @media screen and (min-width: 1200px) {
    .company-logos__sub-container .slider__controls1 {
      display: none; } }

.countdown-timer {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s ease; }
  @media screen and (max-width: 1000px) {
    .countdown-timer {
      bottom: 7rem; } }
  .countdown-timer span {
    display: inline-block; }
  .countdown-timer__block-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.4rem;
    margin: 1rem 0.2rem; }
  .countdown-timer__time-block {
    font-weight: 700;
    font-size: 1.2rem; }

.slider__container {
  max-width: 100vw;
  margin: auto; }
  @media screen and (min-width: 1120px) {
    .slider__container {
      max-width: 112rem; } }

.slider__sub-container {
  position: relative; }
  .slider__sub-container:hover .carousel__btn {
    opacity: 1; }

.slider__my-slider {
  position: relative; }

.slider__slide {
  text-align: center;
  position: relative;
  padding: 0 1rem;
  height: 100%; }

.slider__slide-img {
  width: 100%;
  height: 35rem;
  background-position: top;
  background-size: cover;
  cursor: pointer;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 4; }
  @media screen and (max-width: 570px) {
    .slider__slide-img {
      height: 28rem; } }
  @media screen and (max-width: 770px) {
    .slider__slide-img {
      height: 31rem; } }
  .slider__slide-img--img-1 {
    background-image: url("../img/new-arival-1-1.jpg"); }
    .slider__slide-img--img-1:hover {
      background-image: url("../img/new-arival-1-2.jpg"); }
      .slider__slide-img--img-1:hover .countdown-timer {
        bottom: 7rem; }

.slider__slide-info {
  background-color: #fff; }

.slider__slide-span {
  color: #e34848; }

.slider__slide-stars {
  color: #ffb503; }

.slider__reviews {
  color: #a5a5a5; }

.slider__in-stock {
  color: #4db338; }

.slider__slide-colors {
  display: flex;
  align-items: center;
  justify-content: center; }

.slider__slide-color {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5rem; }
  .slider__slide-color input {
    display: none; }

.slider__slide-color-span {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  transform: scale(0.6);
  border-radius: 50%; }
  .slider__slide-color-span--red {
    background-color: #e34848; }
  .slider__slide-color-span--green {
    background-color: #4db338; }
  .slider__slide-color-span--black {
    background-color: #000; }

.slider__slide-color-span::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 50%;
  width: 140%;
  height: 140%; }

.slider__slide-color:hover .slider__slide-color-span::before,
input:checked ~ .slider__slide-color-span::before {
  background-color: #e34848; }

.slider__slide-color:hover .slider__slide-color-span--green::before,
input:checked ~ .slider__slide-color-span--green::before {
  background-color: #4db338; }

.slider__slide-color:hover .slider__slide-color-span--black::before,
input:checked ~ .slider__slide-color-span--black::before {
  background-color: #000; }

.slider__controls, .slider__controls2, .slider__controls3, .slider__controls4 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 99%;
  z-index: 2;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 770px) {
    .slider__controls, .slider__controls2, .slider__controls3, .slider__controls4 {
      width: 95%; } }

.product-shortcuts {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  opacity: 0;
  transform: translate(-50%);
  width: 100%;
  transition: all 0.5s ease; }
  @media screen and (max-width: 1000px) {
    .product-shortcuts {
      bottom: 2rem;
      opacity: 1; } }
  .product-shortcuts__icon {
    background-color: #000;
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem; }
    .product-shortcuts__icon:not(:last-child) {
      margin-right: 0.5rem; }
  .slider__slide-img:hover .product-shortcuts {
    bottom: 2rem;
    opacity: 1; }

.product-colors {
  display: flex;
  align-items: center;
  justify-content: center; }

.product-color {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5rem; }
  .product-color input {
    display: none; }
  .product-color:hover .product-color-image::before {
    border: 3px solid #e34848; }

.product-color-image {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-size: cover; }
  .product-color-image::before {
    position: absolute;
    top: -10%;
    left: -10%;
    display: block;
    content: '';
    border: 1px solid #a5a5a5;
    padding: 0.5rem;
    width: 120%;
    height: 120%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .product-color-image::after {
    position: absolute;
    top: -10%;
    left: -10%;
    display: block;
    content: '';
    padding: 0.5rem;
    width: 120%;
    height: 120%; }
  .product-color-image--img-1 {
    background-image: url("/img/new-arival-1-1-small.webp"); }
  .product-color-image--img-2 {
    background-image: url("/img/new-arival-2-1-small.webp"); }
  .product-color-image--img-3 {
    background-image: url("/img/new-arival-3-1-small.webp"); }
  .product-color-image--img-4 {
    background-image: url("/img/new-arival-4-1-small.webp"); }

.product-color input:checked ~ .product-color-image::before {
  border: 3px solid #e34848; }

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a5a5a5; }
  .quantity-selector input {
    width: 3rem;
    border: 0;
    text-align: center;
    outline: 0;
    user-select: none; }
  .quantity-selector__up, .quantity-selector__down {
    display: block;
    padding: 0 0.5rem;
    cursor: pointer;
    color: #a5a5a5;
    user-select: none; }

.product-sizes {
  display: flex;
  align-items: center;
  justify-content: center; }

.product-size {
  position: relative;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .product-size input {
    display: none; }
  .product-size:hover .product-size-span::before {
    border: 3px solid #e34848; }

.product-size-span {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff; }
  .product-size-span::before {
    position: absolute;
    top: -10%;
    left: -10%;
    display: block;
    content: '';
    border: 1px solid #a5a5a5;
    padding: 0.5rem;
    width: 120%;
    height: 120%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .product-size-span::after {
    position: absolute;
    top: -10%;
    left: -10%;
    display: block;
    content: '';
    padding: 0.5rem;
    width: 120%;
    height: 120%; }

.product-size input:checked ~ .product-size-span::before {
  border: 3px solid #e34848; }

.breadcrumbs {
  grid-column: center-start / center-end;
  position: relative;
  height: 3rem; }
  .breadcrumbs__background {
    position: absolute;
    background-color: #f2f2f2;
    height: 3rem;
    width: 100%;
    left: 0;
    top: 6rem;
    z-index: -1; }
  .breadcrumbs__links {
    display: block;
    padding: 0.5rem 0;
    z-index: 1; }

.tooltip {
  position: relative; }
  .tooltip:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    background: #000;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    border-radius: 0;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1); }
  .tooltip:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); }
  .tooltip--triangle:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px #000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-20px);
    top: -1.2rem;
    left: 50%;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    z-index: 3; }
  .tooltip--triangle:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); }

.filter-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 1000px) {
    .filter-toolbar__icons button {
      display: none; } }
  .filter-toolbar__icon {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem; }
    .filter-toolbar__icon:first-child {
      padding-left: 0; }

.dropdown__filters {
  font-family: "Poppins", sans-serif;
  border: transparent;
  outline: none;
  cursor: pointer; }

.product-teaser {
  display: flex;
  justify-content: space-between; }
  .product-teaser__img {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; }
    .product-teaser__img:hover {
      opacity: 0.7; }
  .product-teaser__info {
    width: 100%; }
  .product-teaser__title {
    display: flex;
    justify-content: space-between; }
    .product-teaser__title i {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #a5a5a5;
      color: #a5a5a5;
      border-radius: 2px;
      width: 2rem;
      height: 2rem;
      font-size: 1.2rem;
      cursor: pointer; }
  .product-teaser__color-size {
    color: #a5a5a5; }
  .product-teaser__price {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.quick-shop-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  background-color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top;
  width: calc(100% - 2rem);
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  z-index: -1; }
  .quick-shop-modal--visible {
    opacity: 1;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
    z-index: 10; }
  .quick-shop-modal__close-icon {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.4s ease-in-out; }
    .quick-shop-modal__close-icon:hover {
      color: #e34848; }

/* The Modal (background) */
.quick-view-modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  /* Full width */
  min-height: 100vh;
  /* Full height */
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* The Close Button */
  /* Modal Content/Box */ }
  .quick-view-modal--hidden {
    display: none; }
  .quick-view-modal__close {
    color: #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: color 0.3s ease; }
  .quick-view-modal__title-link:hover,
  .quick-view-modal__title-link :focus, .quick-view-modal__close:hover,
  .quick-view-modal__close :focus {
    color: #e34848;
    text-decoration: none;
    cursor: pointer; }
  .quick-view-modal__content-wrapper {
    display: flex;
    position: relative; }
    @media screen and (max-width: 770px) {
      .quick-view-modal__content-wrapper {
        flex-direction: column; } }
  .quick-view-modal__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    position: relative;
    background-color: #fff;
    height: 70rem;
    width: 77rem;
    overflow: auto; }
    @media screen and (max-width: 770px) {
      .quick-view-modal__content {
        min-height: 100vh;
        width: 95vw; } }
  .quick-view-modal__carousel {
    flex: 1; }
  .quick-view-modal__info {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start; }
  .quick-view-modal__list {
    list-style-type: disc;
    padding-left: 2rem; }

.quick-view-carousel {
  width: 100%;
  position: relative;
  transition: opacity 0.3s ease; }
  .quick-view-carousel .slider__slide {
    padding: 0; }
  .quick-view-carousel:hover button {
    opacity: 1; }
  @media screen and (max-width: 1000px) {
    .quick-view-carousel {
      opacity: 1; } }
  .quick-view-carousel__img {
    width: 100%;
    display: block; }
    .quick-view-carousel__img--hidden {
      display: none; }

.footer {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column; }
  .footer__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px dotted #faf8f8; }
    @media screen and (max-width: 1000px) {
      .footer__navigation {
        flex-direction: column; } }
  .footer__navigation-block {
    flex: 1;
    padding-right: 2rem; }
    .footer__navigation-block input {
      width: 100%;
      border-radius: 0;
      border: 1px solid #131313;
      padding: .5rem 2rem;
      font: inherit;
      font-size: 1.2rem;
      caret-color: #131313; }
      .footer__navigation-block input:focus {
        outline: none; }
      @media screen and (max-width: 1000px) {
        .footer__navigation-block input {
          width: 70%; } }
      @media screen and (max-width: 770px) {
        .footer__navigation-block input {
          width: 100%; } }
    @media screen and (max-width: 1000px) {
      .footer__navigation-block {
        padding-right: 0; } }
    .footer__navigation-block h4 i {
      display: none; }
    @media screen and (max-width: 770px) {
      .footer__navigation-block h4 {
        border-bottom: 1px solid #faf8f8;
        cursor: pointer; }
      .footer__navigation-block h4 i {
        display: inline-block; } }
  .footer__block-set-wrapper {
    display: flex; }
    @media screen and (max-width: 1000px) {
      .footer__block-set-wrapper {
        flex-direction: column; } }
    @media screen and (max-width: 770px) {
      .footer__block-set-wrapper {
        margin-bottom: 0; } }
  .footer__block-set {
    display: flex; }
    @media screen and (max-width: 770px) {
      .footer__block-set {
        flex-direction: column;
        margin-bottom: 0; } }
  .footer__social-links {
    display: flex; }
    @media screen and (max-width: 770px) {
      .footer__social-links {
        margin-bottom: 1rem; } }
  .footer__nav-links {
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (max-width: 770px) {
      .footer__nav-links {
        display: none;
        border-bottom: 1px solid #faf8f8; } }
  .footer__nav-link a {
    transition: all 0.5s; }
    .footer__nav-link a:hover {
      text-decoration: underline;
      color: #131313;
      opacity: 0.8; }
  .footer__social-link {
    padding-right: 1rem;
    cursor: pointer;
    transition: opacity 0.4s; }
    .footer__social-link:hover {
      opacity: 0.8; }
  .footer__logo {
    max-width: 9rem;
    max-height: 2.5rem; }
  .footer__copy-and-pay {
    display: flex; }
    @media screen and (max-width: 770px) {
      .footer__copy-and-pay {
        flex-direction: column;
        align-items: center; } }
  .footer__copy, .footer__pay {
    flex: 1; }
  .footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left; }
    @media screen and (max-width: 770px) {
      .footer__copy {
        order: 2;
        text-align: center; } }
  .footer__pay {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem 0; }
    @media screen and (max-width: 770px) {
      .footer__pay {
        order: 1; } }

.sidebar {
  background-color: #fff;
  position: fixed;
  width: 30rem;
  max-height: 100vh;
  z-index: 1001;
  top: 0;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1); }
  .sidebar--visible {
    left: 0;
    box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.25); }
  .sidebar--hidden {
    left: -35rem; }
  .sidebar li, .sidebar__dropdown-title {
    margin: 1rem 0;
    border-bottom: 1px solid #faf8f8; }
  .sidebar__close-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #faf8f8;
    font-size: 1rem;
    padding-bottom: 0.25rem; }
  .sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sidebar__dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
  .sidebar__nav {
    display: none;
    flex-direction: column;
    justify-content: center; }
  .sidebar__nav-link {
    border-bottom: 1px solid #faf8f8; }

.container {
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(1rem, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-template-rows: 6rem min-content repeat(13, min-content); }
  @media screen and (max-width: 1000px) {
    .container {
      grid-template-rows: 6rem min-content repeat(13, min-content); } }

.sidebar {
  background-color: #fff;
  position: fixed;
  width: 30rem;
  max-height: 100vh;
  z-index: 1001;
  top: 0;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1); }
  .sidebar--visible {
    left: 0;
    box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.25); }
  .sidebar--hidden {
    left: -35rem; }
  .sidebar li, .sidebar__dropdown-title {
    margin: 1rem 0;
    border-bottom: 1px solid #faf8f8; }
  .sidebar__close-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #faf8f8;
    font-size: 1rem;
    padding-bottom: 0.25rem; }
  .sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sidebar__dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
  .sidebar__nav {
    display: none;
    flex-direction: column;
    justify-content: center; }
  .sidebar__nav-link {
    border-bottom: 1px solid #faf8f8; }

.sidebar-cart {
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  width: 32rem;
  height: 100vh;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1); }
  .sidebar-cart--visible {
    right: 0;
    box-shadow: -2px -1px 6px 1px rgba(0, 0, 0, 0.25); }
  .sidebar-cart--hidden {
    right: -32rem; }
  .sidebar-cart__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #faf8f8; }
  .sidebar-cart__close-icon {
    cursor: pointer;
    padding-top: 0.15rem; }
  .sidebar-cart__shipping-info {
    background-color: #f2f2f2; }
  .sidebar-cart__shipping-info-text {
    display: flex;
    justify-content: start;
    align-items: center; }
  .sidebar-cart__button-wrapper {
    display: flex;
    flex-direction: column; }
  .sidebar-cart__shipping-icon {
    display: inline-block;
    font-size: 2rem;
    margin-right: 1rem; }
  .sidebar-cart__total-price-legal {
    display: flex;
    justify-content: space-between; }

.header {
  font-size: 1.3rem;
  letter-spacing: 1px;
  grid-column: center-start / center-end;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__background {
    position: fixed;
    background-color: #fff;
    height: 6rem;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 998;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25); }
  .header__left-icons {
    display: flex; }
    @media screen and (min-width: 1000px) {
      .header__left-icons {
        display: none; } }
  .header__logo {
    position: relative;
    max-width: 9rem;
    max-height: 2.5rem; }
    @media screen and (max-width: 1000px) {
      .header__logo {
        position: absolute;
        left: 50%;
        top: 3rem;
        transform: translate(-50%, -50%); } }
  .header__search-icon {
    margin-left: 1rem; }
    @media screen and (min-width: 1000px) {
      .header__search-icon {
        display: none; } }
  .header__hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 2rem;
    height: 1.4rem;
    cursor: pointer; }
  .header__hamburger-line-1, .header__hamburger-line-2, .header__hamburger-line-3 {
    display: inline-block;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px; }
  .header__hamburger-line-1 {
    top: 0;
    left: 0; }
  .header__hamburger-line-2 {
    top: calc(50% - 1px);
    left: 0; }
  .header__hamburger-line-3 {
    bottom: 0;
    left: 0; }
  .header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 1000px) {
      .header__nav-list {
        display: none; } }
  .header__nav-list-item {
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s; }
    .header__nav-list-item--active {
      position: relative; }
    .header__nav-list-item--active::before {
      transition: all 1s ease;
      content: '';
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 2px;
      background-color: #e34848; }
    .header__nav-list-item--active::after {
      transition: all 1s ease;
      content: '';
      position: absolute;
      bottom: 3px;
      left: 25%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #e34848; }
    .header__nav-list-item:hover {
      color: #e34848; }
  .header__nav-icons {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__nav-icons:last-child {
      position: relative; }
      .header__nav-icons:last-child span {
        display: inline-block;
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        position: absolute;
        top: 0.5rem;
        right: -2.5rem;
        transform: translate(-50%, -55%);
        color: #fff;
        background-color: #000;
        border-radius: 50%;
        padding: 3px 5px; }
  .header__nav-icon {
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer; }
    .header__nav-icon:not(:last-child) {
      margin-right: 2rem; }
    @media screen and (max-width: 1000px) {
      .header__nav-icon--hidden {
        display: none; } }

.featured-grid {
  grid-column: center-start / center-end;
  display: grid;
  gap: 2rem;
  padding: 2rem 0;
  grid-template: repeat(5, minmax(5rem, 1fr))/repeat(6, minmax(5rem, 1fr)); }
  .featured-grid__image {
    width: 100%;
    height: 100%;
    background-size: 120%;
    transition: all 0.8s; }
    .featured-grid__image:hover {
      transform: scale(1.1); }
  .featured-grid__item {
    position: relative; }
  .featured-grid__item--1 {
    grid-area: 1 / 1 / 4 / 4;
    overflow: hidden; }
  .featured-grid__item--2 {
    grid-area: 1 / 4 / 3 / 7;
    overflow: hidden; }
  .featured-grid__item--3 {
    grid-area: 4 / 1 / 6 / 4;
    overflow: hidden; }
  .featured-grid__item--4 {
    grid-area: 3 / 4 / 6 / 7;
    overflow: hidden; }
  @media screen and (max-width: 770px) {
    .featured-grid {
      display: none; } }

.new-arrivals {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 770px) {
    .new-arrivals {
      margin-top: 3rem; } }

.blog {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf8f8; }
  .blog a:hover {
    color: #e34848; }
  .blog p {
    text-align: center; }
  .blog__container {
    max-width: 100vw;
    margin: auto; }
    @media screen and (min-width: 1120px) {
      .blog__container {
        width: 112rem; } }
  .blog__sub-container {
    width: 100%;
    margin: auto;
    position: relative; }
    .blog__sub-container .carousel__btn {
      opacity: 0;
      transition: all 0.4s; }
      @media screen and (max-width: 1000px) {
        .blog__sub-container .carousel__btn {
          opacity: 1; } }
    .blog__sub-container:hover .carousel__btn {
      opacity: 1; }
  .blog__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .blog__image img {
      display: block;
      cursor: pointer;
      width: 100%;
      background-size: cover;
      transition: opacity 0.4s; }
      .blog__image img:hover {
        opacity: 0.8; }
    .blog__image .xsm-subtitle a {
      text-decoration: underline; }

.info-banner {
  grid-column: full-start / full-end;
  background-color: #131313;
  color: #fff; }
  .info-banner__wrapper {
    grid-column: center-start / center-end;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    align-items: flex-start; }
    @media screen and (max-width: 1260px) {
      .info-banner__wrapper {
        justify-content: start; } }
  .info-banner__item {
    display: flex;
    align-items: center;
    padding: 1rem 4rem 2rem;
    transition: all 0.4s;
    cursor: default; }
    .info-banner__item:hover {
      opacity: 0.5; }
  .info-banner__text {
    margin-left: 2rem; }
  .info-banner__icon {
    display: inline;
    width: 6rem;
    font-size: 4rem;
    line-height: 1; }

.product-filters-wrapper {
  grid-column: center-start / col-start 3;
  padding-right: 2rem; }
  @media screen and (max-width: 1000px) {
    .product-filters-wrapper {
      display: none; } }

.product-filters {
  height: calc(100vh - 4rem);
  /* ! custom checkbox */
  /* When the checkbox is checked, add a dark background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .product-filters__list-item {
    transition: color 0.2s; }
    .product-filters__list-item:hover {
      color: #e34848; }
  .product-filters__colors-list {
    display: flex;
    flex-wrap: wrap; }
  .product-filters__colors-list-item {
    padding: 0.25rem; }
    .product-filters__colors-list-item:not(:last-child) {
      margin-right: 0.25rem; }
  .product-filters__colors-span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover; }
    .product-filters__colors-span--black {
      background-color: #000; }
    .product-filters__colors-span--pattern-1 {
      background-image: url("../img/color-swatch-1.webp"); }
    .product-filters__colors-span--pattern-2 {
      background-image: url("../img/color-swatch-2.webp"); }
    .product-filters__colors-span--blue {
      background-color: #77bff2; }
    .product-filters__colors-span--pattern-3 {
      background-image: url("../img/color-swatch-3.webp"); }
    .product-filters__colors-span--camel {
      background-color: #df974d; }
    .product-filters__colors-span--emerald {
      background-color: #00646c; }
    .product-filters__colors-span--green {
      background-color: #4db338; }
    .product-filters__colors-span--grey {
      background-color: #a5a5a5; }
    .product-filters__colors-span--khaki {
      background-color: #f0e68c; }
    .product-filters__colors-span--olive-green {
      background-color: #bab86c; }
    .product-filters__colors-span--orange {
      background-color: #ffa500; }
    .product-filters__colors-span--pink {
      background-color: #ffc0cb; }
    .product-filters__colors-span--red {
      background-color: #e34848; }
    .product-filters__colors-span--sage {
      background-color: #8da29a; }
    .product-filters__colors-span--pattern-4 {
      background-image: url("../img/color-swatch-4.webp"); }
  .product-filters__sizes {
    display: flex;
    justify-content: start;
    align-items: center;
    /* Hide the browser's default checkbox */ }
    .product-filters__sizes input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
  .product-filters__sizes-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem; }
  .product-filters__checkbox-container {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    user-select: none; }
  .product-filters__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    border: 1px solid #131313; }
  .product-filters__checkbox-container input:checked ~ .product-filters__checkmark {
    background-color: #131313; }
  .product-filters__checkmark::after {
    content: '';
    position: absolute;
    display: none; }
  .product-filters__checkbox-container input:checked ~ .product-filters__checkmark::after {
    display: block; }
  .product-filters__checkbox-container .product-filters__checkmark::after {
    left: 0.7rem;
    top: 0.1rem;
    width: 0.6rem;
    height: 1.4rem;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg); }

.products-wrapper {
  grid-column: col-start 3 / center-end; }
  @media screen and (max-width: 1000px) {
    .products-wrapper {
      grid-column: center-start / center-end; } }
  .products-wrapper__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    column-gap: 1rem;
    row-gap: 2rem; }
    @media screen and (max-width: 770px) {
      .products-wrapper__grid {
        grid-template-columns: repeat(2, minmax(5rem, 1fr)); } }

.product-filters-sidebar {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  width: 30rem;
  z-index: 1000;
  top: 0;
  overflow: auto;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1); }
  .product-filters-sidebar--visible {
    left: 0;
    box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.25); }
  .product-filters-sidebar--hidden {
    left: -30rem; }
  .product-filters-sidebar__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product-filters-sidebar__close-icon {
    cursor: pointer; }
