//FONTS
$font-primary: 'Poppins', sans-serif;
$defultFontSize: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px
$bp-large: 62.5em; // 1000px/16px
$bp-medium: 50em; // 800px/16px
$bp-small: 37.5em; // 600px/16px

//COLORS
$color-black: #000;
$color-dark-gray: #131313;
$color-grey-3: #a5a5a5;
$color-grey-1: #faf8f8;
$color-grey-2: #f2f2f2;
$color-white: #fff;
$color-khaki: #f0e68c;
$color-yellow: #ffb503;
$color-camel: #df974d;
$color-orange: #ffa500;
$color-red: #e34848;
$color-pink: #ffc0cb;
$color-olive-green: #bab86c;
$color-green: #4db338;
$color-emerald: #00646c;
$color-sage: #8da29a;
$color-blue: #1417be;
$color-blue-2: #77bff2;
