//FONTS
$font-primary: 'Poppins',
sans-serif;
$defultFontSize: 1.6rem;

//COLORS    
$color-black: #000;
$color-grey-1: #cccccc;
$color-white: #fff;
$color-yellow: #FFB503;
$color-red: #FF6464;
$color-green: #4db338;
$color-blue:#1417be;