//FONTS
$font-primary: 'Poppins', sans-serif;
$defultFontSize: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px
$bp-large: 62.5em; // 1000px/16px
$bp-medium: 50em; // 800px/16px
$bp-small: 37.5em; // 600px/16px

//COLORS
$color-black: #000;
$color-dark-gray: #131313;

$color-grey-1: #faf8f8;
$color-grey-2: #f1f1f1c4;
$color-white: #fff;
$color-yellow: #ffb503;
$color-red: #ff6464;
$color-green: #4db338;
$color-blue: #1417be;
