//! IMPORTS
//abstracts
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
//base
@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
//components
@import 'components/carousel';
//layout
@import 'layout/grid-layout';
@import 'layout/sidebar';
@import 'layout/header';
//pages
@import 'pages/home';