.featured-grid {
    grid-column: center-start / center-end;


    display: grid;
    gap: 2rem;
    padding: 2rem 0;
    grid-template: repeat(5, minmax(10rem, 1fr)) /repeat(6, minmax(10rem, 1fr));



    &__image {
        width: 100%;
        height: 100%;
        background-size: 120%;
        transition: all .8s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__item {
        position: relative;

    }

    &__item--1 {
        grid-area: 1 / 1 / 4 / 4;
        overflow: hidden;

    }

    &__item--2 {
        grid-area: 1 / 4 / 3 / 7;
        overflow: hidden;
    }

    &__item--3 {
        grid-area: 4 / 1 / 6 / 4;
        overflow: hidden;
    }

    &__item--4 {
        grid-area: 3 / 4 / 6 / 7;
        overflow: hidden;
    }


}