.footer {
	grid-column: center-start / center-end;
	display: flex;

	a:hover {
		text-decoration: underline;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}
	}

	&__navigation-block {
		flex: 1;
		padding-right: 3rem;
		@media screen and (max-width: 1000px) {
			padding-right: 0;
		}
	}

	&__block-set-wrapper {
		display: flex;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}
	}

	&__block-set {
		display: flex;
	}

	&__social-links {
		display: flex;
	}

	&__nav-link {
		a {
			transition: all 0.5s;
		}
		a:hover {
			text-decoration: underline;
			color: $color-dark-gray;
			opacity: 0.8;
		}
	}

	&__social-link {
		padding-right: 1rem;
		cursor: pointer;
		transition: opacity 0.4s;

		&:hover {
			opacity: 0.8;
		}
	}

	&__logo {
		max-width: 9rem;
		max-height: 2.5rem;
	}
}
