.footer {
	grid-column: center-start / center-end;
	display: flex;

	&__navigation {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}
	}

	&__navigation-block {
		flex: 1;
		padding-right: 2rem;

		@media screen and (max-width: 1000px) {
			padding-right: 0;
		}

		h4 i {
			display: none;
		}

		@media screen and (max-width: 770px) {
			h4 {
				border-bottom: 1px solid $color-grey-1;
				cursor: pointer;
			}

			h4 i {
				display: inline-block;
			}
		}
	}

	&__block-set-wrapper {
		display: flex;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}

		@media screen and (max-width: 770px) {
			margin-bottom: 0;
		}
	}

	&__block-set {
		display: flex;

		@media screen and (max-width: 770px) {
			flex-direction: column;
			margin-bottom: 0;
		}
	}

	&__social-links {
		display: flex;

		@media screen and (max-width: 770px) {
			margin-bottom: 1rem;
		}
	}

	&__nav-links {
		flex-direction: column;

		@media screen and (max-width: 770px) {
			display: none;
			border-bottom: 1px solid $color-grey-1;
		}
	}

	&__nav-link {
		a {
			transition: all 0.5s;
			&:hover {
				text-decoration: underline;
				color: $color-dark-gray;
				opacity: 0.8;
			}
		}
	}

	&__social-link {
		padding-right: 1rem;
		cursor: pointer;
		transition: opacity 0.4s;

		&:hover {
			opacity: 0.8;
		}
	}

	&__logo {
		max-width: 9rem;
		max-height: 2.5rem;
	}
}
