.info-banner {
	grid-column: sidebar-start / full-end;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;

	@media screen and (min-width: 1135px) {
		justify-content: center;
	}

	background-color: $color-dark-gray;
	color: $color-white;

	&__item {
		display: flex;
		align-items: center;
		padding: 1rem 4rem 2rem;
		transition: all 0.4s;
		cursor: default;

		&:hover {
			opacity: 0.5;
		}
	}

	&__icon {
		font-size: 4rem;
		margin-right: 2rem;
	}
}
