.info-banner {
	grid-column: full-start / full-end;

	&__wrapper {
		grid-column: center-start / center-end;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		text-align: left;

		align-items: flex-start;

		@media screen and (max-width: 1230px) {
			justify-content: start;
		}
	}

	background-color: $color-dark-gray;
	color: $color-white;

	&__item {
		display: flex;
		align-items: center;
		padding: 1rem 4rem 2rem;
		transition: all 0.4s;
		cursor: default;

		&:hover {
			opacity: 0.5;
		}
	}

	&__text {
		margin-left: 2rem;
	}

	&__icon {
		display: inline;
		width: 6rem;
		font-size: 4rem;
		line-height: 1;
	}
}
