.info-banner {
	grid-column: sidebar-start / full-end;

	&__wrapper {
		grid-column: center-start / center-end;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		@media screen and (max-width: 1166px) {
			justify-content: start;
		}
	}

	background-color: $color-dark-gray;
	color: $color-white;

	&__item {
		display: flex;
		align-items: center;
		padding: 1rem 4rem 2rem;
		transition: all 0.4s;
		cursor: default;

		&:hover {
			opacity: 0.5;
		}
	}

	&__icon {
		font-size: 4rem;
		margin-right: 2rem;
	}
}
