.new-arrivals {
	grid-column: center-start / center-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

// Slider
.slider {
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		max-width: 95vw;
		margin: auto;

		@media screen and (min-width: 1200px) {
			width: 112rem;
		}
	}

	&__sub-container {
		width: 100%;
		margin: auto;
		position: relative;

		&:hover .carousel__btn {
			opacity: 1;
		}
	}

	&__my-slider {
		position: relative;
	}

	&__slide-img {
		width: 100%;
		height: 36rem;
		background-position: center;
		background-size: cover;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 4;

		&--img-1 {
			background-image: url('/img/new-arival-1-1.jpg');

			&:hover {
				background-image: url('/img/new-arival-1-2.jpg');
				animation: fadeVisibility 2s;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}
}
