.new-arrivals {
	grid-column: center-start / center-end;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Slider
.slider {
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		max-width: 95vw;
		margin: auto;

		@media screen and (min-width: 1200px) {
			width: 112rem;
		}
	}

	&__sub-container {
		width: 100%;
		margin: auto;
		position: relative;

		&:hover .carousel__btn {
			opacity: 1;
		}
	}

	&__slide-img {
		width: 100%;
		height: 36rem;
		background-position: center;
		background-size: cover;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		&--img-1 {
			background-image: url('/img/new-arival-1-1.jpg');

			&:hover {
				background-image: url('/img/new-arival-1-2.jpg');
				animation: fadeVisibility 2s;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		z-index: 2;
		transform: translate(-50%, -50%);
	}
}

// Two column grid
.two-column-grid {
	grid-column: center-start / center-end;
	max-height: 38rem;

	display: grid;
	grid-template: repeat(2, minmax(10rem, 1fr)) / repeat(6, minmax(10rem, 1fr));
	gap: 2rem;

	@media screen and (max-width: 770px) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-height: 60rem;
	}

	&__image {
		width: 100%;
		height: 100%;
		display: block;
		background-size: cover;
		background-position: top;
		overflow: hidden;

		transition: all 0.8s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__item {
		position: relative;

		&--item-1 {
			grid-area: 1 / 1 / 3 / 4;
			overflow: hidden;

			@media screen and (max-width: 770px) {
				grid-area: 1 / 1 / 2 / 7;
			}
		}
		&--item-2 {
			grid-area: 1 / 4 / 3 / 7;
			overflow: hidden;

			@media screen and (max-width: 770px) {
				grid-area: 2 / 1 / 3 / 7;
			}
		}
	}
}

.company-logos {
	&__container {
		max-width: 80vw;
		margin: auto;

		@media screen and (min-width: 1200px) {
			width: 112rem;
		}
	}

	&__sub-container {
		width: 100%;
		margin: auto;
		position: relative;

		.carousel__btn {
			background-color: white;
			opacity: 1;
		}

		.slider__controls1 {
			@media screen and (min-width: 1200px) {
				display: none;
			}
		}
	}

	&__company-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 2rem;
		width: 14rem;
	}
}
