.new-arrivals {
	
	grid-column: center-start / center-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media screen and (max-width: 770px) {
		margin-top: 3rem;
	}
}

// Slider
.slider {
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		max-width: 100vw;
		margin: auto;

		@media screen and (min-width: 1200px) {
			width: 112rem;
		}
	}

	&__sub-container {
		width: 100%;

		position: relative;

		&:hover .carousel__btn {
			opacity: 1;
		}
	}

	&__my-slider {
		position: relative;
	}

	&__slide-img {
		width: 100%;
		height: 33rem;
		background-position: center;
		background-size: cover;
		cursor: pointer;
		position: relative;
		//hide products shortcuts when they go outside container
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

		display: flex;
		justify-content: center;
		align-items: flex-end;
		z-index: 4;

		&--img-1 {
			background-image: url('/img/new-arival-1-1.jpg');
			
			

			&:hover {
				background-image: url('/img/new-arival-1-2.jpg');

				.countdown-timer {
					bottom: 7rem;
				}
			}
		}
	}

	&__slide-info {
		background-color: $color-white;
	}

	&__slide-span {
		color: $color-red;
	}

	&__slide-stars {
		color: $color-yellow;
	}

	&__slide-colors {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__slide-color {
		input {
			display: none;
		}

		cursor: pointer;
		display: inline-block;
		margin: 0 0.5rem;
		padding: 0 0.5rem;
	}

	&__slide-color-span {
		display: inline-block;
		position: relative;
		width: 2rem;
		height: 2rem;
		transform: scale(0.8);

		border-radius: 50%;

		&--red {
			background-color: lightcoral;
		}
		&--green {
			background-color: $color-green;
		}
		&--black {
			background-color: $color-black;
		}
	}

	&__slide-color-span::before {
		content: '';
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid;
		border-radius: 50%;
		width: 140%;
		height: 140%;
	}

	&__slide-color:hover &__slide-color-span::before,
	input:checked ~ &__slide-color-span::before {
		background-color: $color-red;
	}
	&__slide-color:hover &__slide-color-span--green::before,
	input:checked ~ &__slide-color-span--green::before {
		background-color: $color-green;
	}
	&__slide-color:hover &__slide-color-span--black::before,
	input:checked ~ &__slide-color-span--black::before {
		background-color: $color-black;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		z-index: 2;
		transform: translate(-50%, -50%);

		@media screen and (max-width: 770px) {
			width: 95%;
		}
	}
}
