.products-wrapper {
    grid-column: col-start 3 / center-end;
   
   
    

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(5rem, 1fr));
        column-gap: 2rem;
        row-gap: 4rem;
        
    }
}