$sidebar-width: 32rem;

.sidebar-cart {
	background-color: $color-white;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	width: $sidebar-width;
	height: 100vh;
	z-index: 1000;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);

	&--visible {
		right: 0;
		box-shadow: -2px -1px 6px 1px rgba(0, 0, 0, 0.25);
	}
	&--hidden {
		right: -$sidebar-width;
	}

	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $color-grey-1;
	}

	&__close-icon {
		cursor: pointer;

		padding-top: 0.15rem;
	}

	&__shipping-info {
		background-color: $color-grey-2;
	}

	&__shipping-info-text {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	&__button-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__shipping-icon {
		display: inline-block;
		font-size: 2rem;
		margin-right: 1rem;
	}

	&__total-price-legal {
		display: flex;
		justify-content: space-between;
	}
}
