.sidebar {
	background-color: $color-white;
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / 15;

	position: fixed;
	width: 30rem;
	height: 100vh;
	z-index: 3000;
	top: 0;

	transition: all 1s;

	&--visible {
		left: 0;
	}
	&--hidden {
		left: -30rem;
	}

	li,
	&__dropdown-title {
		margin: 1rem 0;
		border-bottom: 1px solid $color-grey-1;
	}

	&__close-icon {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		cursor: pointer;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__dropdown-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	&__nav {
		display: none;
		flex-direction: column;
		justify-content: center;
	}

	&__nav-link {
		border-bottom: 1px solid $color-grey-1;
	}
}
