.product-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: center-start / center-end;
	position: relative;

	&__block {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__carousel-wrapper {
		flex: 1;
	}

	&__actions-wrapper {
		flex: 1;
		position: relative;

		display: flex;
		justify-content: start;
		align-items: flex-start;

		//countdown timer overwrites
		& .countdown-timer {
			position: relative;
			left: 0;
			transform: translateX(0);

			&__block-wrapper {
				border: 1px solid $color-grey-3;
				padding: 1rem;

				&:first-child {
					margin-left: 0;
				}
			}

			&__time-block,
			&__block-wrapper {
				font-size: 1.5rem;
			}
		}

		& .product-sizes {
			justify-content: start;
		}

		.hurry-button {
			background-color: $color-black;
			color: $color-white;
			padding: 0 0.25rem;
		}
	}

	&__add-to-cart {
		width: 100%;
		height: 5rem;
		display: flex;
		justify-content: center;
		align-items: stretch;

		& .quantity-selector {
			margin-right: 1rem;
		}
	}
}
