.product-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: center-start / center-end;
	position: relative;

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__carousel-wrapper {
		flex: 1;
	}

	&__actions-wrapper {
		flex: 1;
		position: relative;
	}

	&__add-to-cart {
		width: 100%;
		height: 5rem;
		display: flex;
		justify-content: center;
		align-items: stretch;

		& .quantity-selector {
			margin-right: 1rem;
		}
	}
}
