.product-filters-wrapper {
	grid-column: center-start / col-start 3;
	padding-right: 2rem;

	@media screen and (max-width: 1000px) {
		display: none;
	}
}
.product-filters {
	height: calc(100vh - 4rem);
	// list;
	&__list {
	}

	&__list-item {
		transition: color 0.2s;

		&:hover {
			color: $color-red;
		}
	}

	// colors
	&__colors {
	}

	&__colors-list {
		display: flex;
		flex-wrap: wrap;
	}

	&__colors-list-item {
		padding: 0.25rem;

		&:not(:last-child) {
			margin-right: 0.25rem;
		}
	}

	&__colors-span {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		cursor: pointer;
		background-size: cover;

		&--black {
			background-color: $color-black;
		}
		&--pattern-1 {
			background-image: url('../img/color-swatch-1.webp');
		}
		&--pattern-2 {
			background-image: url('../img/color-swatch-2.webp');
		}
		&--blue {
			background-color: $color-blue-2;
		}
		&--pattern-3 {
			background-image: url('../img/color-swatch-3.webp');
		}
		&--camel {
			background-color: $color-camel;
		}
		&--emerald {
			background-color: $color-emerald;
		}
		&--green {
			background-color: $color-green;
		}
		&--grey {
			background-color: $color-grey-3;
		}
		&--khaki {
			background-color: $color-khaki;
		}
		&--olive-green {
			background-color: $color-olive-green;
		}
		&--orange {
			background-color: $color-orange;
		}
		&--pink {
			background-color: $color-pink;
		}
		&--red {
			background-color: $color-red;
		}
		&--sage {
			background-color: $color-sage;
		}
		&--pattern-4 {
			background-image: url('../img/color-swatch-4.webp');
		}
	}

	// sizes
	&__sizes {
		display: flex;
		justify-content: start;
		align-items: center;

		/* Hide the browser's default checkbox */
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
	}

	&__sizes-wrapper {
		display: flex;
		flex-direction: column;
		margin-right: 2.5rem;
	}

	&__checkbox-container {
		display: block;
		position: relative;
		padding-left: 3.5rem;
		margin-bottom: 1.2rem;
		cursor: pointer;
		user-select: none;
	}

	/* ! custom checkbox */
	&__checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 2rem;
		width: 2rem;
		border: 1px solid $color-dark-gray;
	}

	/* When the checkbox is checked, add a dark background */
	&__checkbox-container input:checked ~ &__checkmark {
		background-color: $color-dark-gray;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	&__checkmark::after {
		content: '';
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	&__checkbox-container input:checked ~ &__checkmark::after {
		display: block;
	}

	/* Style the checkmark/indicator */
	&__checkbox-container &__checkmark::after {
		left: 0.7rem;
		top: 0.1rem;
		width: 0.6rem;
		height: 1.4rem;
		border: solid $color-white;
		border-width: 0 1px 1px 0;
		transform: rotate(45deg);
	}
}
