// square button
.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1rem 2rem;
		display: inline-block;
		border: none;
		cursor: pointer;
		transition: background-color 0.4s;
	}

	&--full-width {
		width: 100%;
	}

	&--rounded {
		border-radius: 0.4rem;
	}

	&--black {
		background-color: $color-black;
		color: $color-white;
		font-size: 1.2rem;
		font-weight: 500;
	}

	&--red {
		background-color: $color-red;
		color: $color-white;
		font-size: 1.2rem;

		&:hover {
			background-color: $color-black;
		}
	}

	&--gray {
		background-color: $color-grey-3;
		color: $color-white;
		font-size: 1.2rem;
	}
}

//carousel next/prev buttons
.carousel__btn {
	background-color: rgba($color-white, 0.5);
	border-radius: 3px;
	border: none;
	padding: 0 0.5rem;
	transition: opacity 0.4s;
	cursor: pointer;

	opacity: 0;

	@media screen and (max-width: 1000px) {
		opacity: 1;
	}
}

.carousel__nav-icon {
	color: $color-black;
	padding: 1rem;
	line-height: 1;
	font-size: 2rem;
}
