.carousel__item--hidden {
    display: none;
}


.carousel {
    grid-column: full-start / full-end;

    width: 100%;
    position: relative;

    &__item {
        width: 100%;
        height: 100%;
        display: none;


        &--image-1 {
            background: url('../../img/hero-banner-1.jpg');
            background-size: cover;
            background-position: center top;
            width: 100%;
            height: 100%;
        }

        &--image-2 {
            background: url('../../img/hero-banner-2.jpg');
            background-size: cover;
            background-position: center top;
            width: 100%;
            height: 100%;
        }
    }

    &__item--visible {
        display: block;
        animation: fadeVisibility 2s;
    }



    // ! prev / next buttons
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 99%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        button {
            background-color: transparent;

            border: 0;
        }

        button i {
            color: $color-white;
            opacity: .5;
            transition: opacity .5s;

            &:hover {
                opacity: 1;
            }
        }
    }

    // ! Dots
    &__dots {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding-top: 15px;
    }

    &__dot {
        color: rgba(255, 255, 255, 0.4);
        font-size: 15px;
        display: inline-block;
        transition: all 1s ease;

    }



    @keyframes fadeVisibility {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: opacity linear;
        }
    }
}


.carousel__dot--active {
    color: rgba(206, 205, 205, 0.4);

}