.company-logos {
	&__container {
		max-width: 100vw;
		margin: auto;
		margin-bottom: 3rem;

		@media screen and (min-width: 1200px) {
			width: 112rem;
		}
	}

	&__sub-container {
		width: 100%;
		margin: auto;
		position: relative;

		.carousel__btn {
			background-color: white;
			opacity: 1;
		}

		.slider__controls1 {
			@media screen and (min-width: 1200px) {
				display: none;
			}
		}
	}
}
