.dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	&__filters {
		font-family: $font-primary;
		border: transparent;
		outline: none;
		cursor: pointer;
	}
	&__filter {
	}
}
