.quick-view-carousel {
	width: 40rem;
	height: 100%;
	position: relative;
	transition: opacity 0.3s ease;

	.slider__slide {
		padding: 0;
	}

	&:hover button {
		opacity: 1;
	}

	@media screen and (max-width: 1000px) {
		opacity: 1;
	}

	&__img {
		width: 100%;
		height: 100%;
		display: block;

		&--hidden {
			display: none;
		}
	}
}
