.quick-view-carousel {
	width: 100%;

	position: relative;
	transition: opacity 0.3s ease;

	.slider__slide {
		padding: 0;
	}

	&:hover button {
		opacity: 1;
	}

	@media screen and (max-width: 1000px) {
		opacity: 1;
	}

	&__img {
		height: 50rem;
		width: 100%;
		object-fit: cover;
		display: block;

		@media screen and (max-width: 770px) {
			height: 60rem;
			width: 90%;
			margin: auto;
		}

		@media screen and (max-width: 550px) {
			width: 100%;
		}

		&--hidden {
			display: none;
		}
	}
}
