/* The Modal (background) */
.quick-view-modal {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;

	width: 100vw; /* Full width */
	height: 100vh; /* Full height */

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);

	&--hidden {
		display: none;
	}

	/* Modal Content/Box */
	&__content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 2rem;

		position: relative;

		background-color: $color-white;
		//when you add content change to max-width and max-height
		max-height: 70rem;
		width: 80rem;
	}

	/* The Close Button */
	&__close {
		color: $color-grey-3;
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 0.5rem;
		right: 0.5rem;

		padding: 0.5rem;
		width: 2.5rem;
		height: 2.5rem;
		transition: color 0.3s ease;

		&:hover,
		:focus {
			color: $color-red;
			text-decoration: none;
			cursor: pointer;
		}
	}
}
