.shop-now-window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	width: 60%;
	transform: translate(-50%);
	z-index: 10;
	padding: 2rem;
	background-color: $color-white;

	@media screen and (max-width: 770px) {
		width: 90%;
	}
}
