// ! Hero carousel animations
@keyframes fadeVisibility {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes scaleVisibility {
	0% {
		transform: translate(-50%, -50%) scale(0.8);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes translateY {
	0% {
		bottom: -5rem;
		opacity: 0;
	}

	90% {
		bottom: 0;
		opacity: 0.5;
	}
	100% {
		bottom: 2rem;
		opacity: 1;
	}
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
