//BASE RESET
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	//border: 1px solid red;
}

//BASE STYLES
html {
	// remove blinking cursor on texts
	caret-color: transparent;
	letter-spacing: 1px;
	box-sizing: border-box;
	font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px
	scroll-behavior: smooth;
}

body {
	font-size: $defultFontSize;
	font-family: $font-primary;
	color: $color-black;
	font-weight: 300;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
	transition: color 0.4s;
}

ul {
	list-style: none;
}

li {
	position: relative;
}

i {
	display: inline-block;
}

// custom selected text
::selection {
	background-color: $color-pink;
	color: $color-grey-1;
}

//custom scrollbar

/* width */
::-webkit-scrollbar {
	width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $color-grey-3;
	border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lighten($color-dark-gray, 10);
	border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: lighten($color-red, 10);
}
