// !extends nad helpers
%heading {
	font-family: $font-primary;
}

// ! Headings
.heading-1 {
	@extend %heading;

	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
}

.heading-2 {
	@extend %heading;

	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

.heading-3 {
	@extend %heading;

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.1;
}

.large-title {
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.medium-title {
	font-size: 1.4rem;
	text-transform: uppercase;
}
.small-title {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: normal;
}

.large-subtitle {
	font-size: 1.8rem;
}
.medium-subtitle {
	font-size: 1.5rem;
}

.small-subtitle {
	font-size: 1.2rem;
	font-weight: 400;
}

.xsm-subtitle {
	font-size: 1rem;
	font-weight: 400;
}
