.mb-xsm {
	margin-bottom: 1rem;
}

.mb-sm {
	margin-bottom: 2rem;
}

.mb-md {
	margin-bottom: 3rem;
}

.mb-lg {
	margin-bottom: 5rem;
}

.mt-xsm {
	margin-top: 1rem;
}

.mt-sm {
	margin-top: 2rem;
}

.mt-md {
	margin-top: 3rem;
}

.mt-lg {
	margin-top: 5rem;
}

.my-xl {
	margin-bottom: 8rem;
}

.my-xsm {
	margin: 0.5rem 0;
}

.my-sm {
	margin: 2rem 0;
}

.my-md {
	margin: 3rem 0;
}

.my-lg {
	margin: 5rem 0;
}

.my-xl {
	margin: 8rem 0;
}

// ! PADDINGS
.py-xsm {
	padding: 1rem 0;
}

.py-sm {
	padding: 2rem 0;
}

.py-md {
	padding: 3rem 0;
}

.py-lg {
	padding: 5rem 0;
}

.py-xl {
	padding: 8rem 0;
}
