.mb-xsm {
	margin-bottom: 0.5rem;
}

.mb-sm {
	margin-bottom: 2rem;
}

.mb-md {
	margin-bottom: 3rem;
}

.mb-lg {
	margin-bottom: 5rem;
}
.mb-xl {
	margin-bottom: 10rem;
}

.mt-xsm {
	margin-top: 1rem;
}

.mt-sm {
	margin-top: 2rem;
}

.mt-md {
	margin-top: 3rem;
}

.mt-lg {
	margin-top: 5rem;
}

.mt-xl {
	margin-top: 8rem;
}

.my-xsm {
	margin: 0.75rem 0;
}

.my-sm {
	margin: 2rem 0;
}

.my-md {
	margin: 3rem 0;
}

.my-lg {
	margin: 5rem 0;
}

.my-xl {
	margin: 8rem 0;
}

.mx-xsm {
	margin: 0 0.75rem;
}

.mx-sm {
	margin: 0 2rem;
}

.mx-md {
	margin: 0 3rem;
}

.mx-lg {
	margin: 0 5rem;
}

.mx-xl {
	margin: 0 8rem;
}

// ! PADDINGS
.py-xsm {
	padding: 1rem 0;
}

.py-sm {
	padding: 2rem 0;
}

.py-md {
	padding: 3rem 0;
}

.py-lg {
	padding: 5rem 0;
}

.py-xl {
	padding: 8rem 0;
}

.px-xsm {
	padding: 0 1rem;
}

.px-sm {
	padding: 0 2rem;
}

.px-md {
	padding: 0 3rem;
}

.px-lg {
	padding: 0 5rem;
}

.px-xl {
	padding: 0 8rem;
}

.p-xsm {
	padding: 1rem;
}

.p-sm {
	padding: 2rem;
}

.p-md {
	padding: 3rem;
}

.p-lg {
	padding: 5rem;
}

.p-xl {
	padding: 8rem;
}
