.wishlist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: center-start / center-end;
	position: relative;

	h1 {
		text-align: center;
	}

	&__list {
		display: flex;
		flex-direction: column;

		width: 100%;
	}

	&__list-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-bottom: 2rem;
		align-items: center;
		position: relative;
		border-bottom: 1px solid $color-grey-2;

		@media screen and (max-width: 770px) {
			border-bottom: 1px solid $color-grey-3;
			padding-bottom: 2rem;
		}

		&:first-child {
			background-color: $color-grey-1;
			padding: 0.5rem;
			@media screen and (max-width: 770px) {
				display: none;
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@media screen and (max-width: 770px) {
			flex-direction: column;
			justify-content: flex-start;
			width: min-content;
			align-items: flex-start;
		}
	}

	&__list-image {
		margin-right: 2rem;
		width: 10rem;

		& img {
			display: block;

			height: 100%;
			transition: opacity 0.3s ease;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__list-name {
		width: 20rem;
	}
	&__list-price {
		width: 10rem;
	}
	&__list-stock {
		width: 10rem;

		& span {
			display: block;
		}

		@media screen and (max-width: 770px) {
			margin-top: 0.5rem;
		}
	}
	&__list-buttons {
		display: flex;
		width: 25rem;
		justify-content: flex-end;

		& .btn--black {
			margin-right: 1rem;
		}

		@media screen and (max-width: 770px) {
			margin-top: 1rem;
			justify-content: flex-start;
		}
	}
}
