.cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: center-start / center-end;
	position: relative;

	&__red-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		& .fa-angle-left {
			border-radius: 50%;
			border: 1px solid $color-red;
			padding: 0.25rem 0.5rem;
			transition: all 0.3s ease;
		}

		a {
			transition: all 0.3s ease;
			color: $color-red;

			& i {
				margin-right: 1rem;
			}

			&:hover,
			&:focus,
			&:hover .fa-angle-left {
				color: $color-black;
				border-color: $color-black;
			}
		}
	}
}
